version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: weekly
    cooldown:
      default-days: 14
    labels: ["dependencies"]
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: weekly
    cooldown:
      default-days: 14
    labels: ["dependencies"]
