[submodule "vendor/cmark-gfm"]
	path = vendor/cmark-gfm
	url = https://github.com/kivikakk/cmark-gfm.git
[submodule "vendor/pulldown-cmark"]
	path = vendor/pulldown-cmark
	url = https://github.com/raphlinus/pulldown-cmark.git
[submodule "vendor/markdown-it"]
	path = vendor/markdown-it
	url = https://github.com/rlidwka/markdown-it.rs.git
[submodule "vendor/commonmark-spec"]
	path = vendor/commonmark-spec
	url = https://github.com/commonmark/commonmark-spec
[submodule "vendor/progit"]
	path = vendor/progit
	url = https://github.com/progit/progit
