[package]
name = "comrak"
version = "0.18.0"
authors = ["Asherah Connor <ashe@kivikakk.ee>"]
description = "A 100% CommonMark-compatible GitHub Flavored Markdown parser and formatter"
documentation = "https://docs.rs/comrak"
homepage = "https://github.com/kivikakk/comrak"
repository = "https://github.com/kivikakk/comrak"
readme = "README.md"
keywords = ["markdown", "commonmark"]
license = "BSD-2-Clause"
categories = ["text-processing", "parsing", "command-line-utilities"]
exclude = [
    "/hooks/*",
    "/script/*",
    "/vendor/*",
    "/.travis.yml",
    "/Makefile",
    "/spec_out.txt",
]
resolver = "2"
edition = "2018"

[profile.release]
lto = true

[[bin]]
name = "comrak"
required-features = ["cli", "syntect"]
doc = false

[dependencies]
typed-arena = "2.0.1"
regex = "1.5.5"
once_cell = "1.13.0"
entities = "1.0.1"
unicode_categories = "0.1.1"
memchr = "2"
shell-words = { version = "1.0", optional = true }
slug = "0.1.4"
emojis = { version = "0.5.2", optional = true }
arbitrary = { version = "1", optional = true, features = ["derive"] }

[dev-dependencies]
ntest = "0.9"

[target.'cfg(not(target_arch="wasm32"))'.dev-dependencies]
propfuzz = "0.0.1"

[features]
default = ["cli", "syntect"]
cli = ["clap", "shell-words", "xdg"]
shortcodes = ["emojis"]

[target.'cfg(all(not(windows), not(target_arch="wasm32")))'.dependencies]
xdg = { version = "^2.1", optional = true }

[target.'cfg(target_arch="wasm32")'.dependencies]
syntect = { version = "5.0", optional = true, default-features = false, features = [
    "default-fancy",
] }
clap = { version = "4.0", optional = true, features = ["derive", "string"] }

[target.'cfg(not(target_arch="wasm32"))'.dependencies]
syntect = { version = "5.0", optional = true, default-features = false, features = [
    "default-themes",
    "default-syntaxes",
    "html",
    "regex-onig",
] }
clap = { version = "4.0", optional = true, features = [
    "derive",
    "string",
    "wrap_help",
] }
